services:
  app:
    image: xxx.dkr.ecr.eu-central-1.amazonaws.com
    volumes:
      - .:/var/www
    working_dir: /var/www
    ports:
      - "28026:28026"
    environment:
      SERVER_PORT: 28026
      RCON_WEB: true
      RCON_PASSWORD: 'secure1337'
